[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
rawpy = "*"
matplotlib = "*"
pillow = "*"
imageio = "*"
opencv-python = "*"
scikit-image = "*"
tifffile = "*"
numpy = "*"
colorcorrect = "*"

[requires]
python_version = "3.8"
